
<% include ./partials/header %>

    <div class="container">
        <div class="personal-info">
            <h1>LOGAN HSU</h1>
            <h5>Address: 10318 Lauder Ave Edmonton, T5E5P8</h5>
            <h5>Phone Number: 780-271-1288</h5>
            <h5>Email: loganhsu@hotmail.com</h5>
        </div>
        
        
        <div class="row">
            <div class="col-md-3">
                <h2>Skills</h2>
                
                <div class="skill-column">
                    <div class="skill-item">
                        <div class="skill-label">HTML</div>
                        <div class="skill-icons">
                            <span class="icon-act"></span>
                            <span class="icon-act"></span>
                            <span class="icon-act"></span>
                            <span class="icon-non"></span>
                            <span class="icon-non"></span>
                        </div>
                    </div>
                    
                    <div class="skill-item">
                        <div class="skill-label">JavaScript</div>
                        <div class="skill-icons">
                            <span class="icon-act"></span>
                            <span class="icon-act"></span>
                            <span class="icon-act"></span>
                            <span class="icon-non"></span>
                            <span class="icon-non"></span>
                        </div>
                    </div>
                    
                    <div class="well">
                        <div class="text-right">
                            <a class="btn btn-primary" role="button" data-toggle="collapse" data-target="#collapseComment1" aria-expanded="false" aria-controls="collapseComment1">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Skill </a>
                        </div>
                        
                        <!--Collapse Add a comment form START-->
                        <div class="collapse" id="collapseComment1">
                            <div class="well" style="border-left: 5px solid #00C851; height: 300px;">
                            <!--If the user is logged in, show the new comment form-->
                                <h4> Add a New Skill <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
                                <form id="add-comment-form" >
                                    <div class="form-group">
                                        <label>Name of skill</label>
                                        <input class="form-control" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label>Skill Rate</label>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success btn-sm"> Submit <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
                                    </div>
                                </form>
                        
                            </div>
                        </div>
                <!--Collapse Add a comment form END-->
                    </div>
                    
                </div>
            </div>
        
            <div class="col-md-9">
                <h2>Profile</h2>
                <div>
                    <h3>Profile or Highlight of qualification</h3>
                    <ul>
                        <li>Diploma in Digital Media and IT special using in Application Development.</li>
                        <li>Project management skills to complete projects on time, on budget and meeting Quality Assurance guideline.</li>
                        <li>Troubleshoot by testing, analyzing, ﬁxing and tracking program errors.</li>
                        <li>Communicate with customers to help them learn new technology</li>
                        <li>Used C#, Css, HTML, JavaScript, jQuery, Node.js and npm to create a user friendly and attractive interface</li>
                    </ul>
                </div>
                <div>
                    <h3>Education</h3>
                    <div>
                        <div class="col-md-9">
                            <h4>Digital Media and IT Diploma (Honours)  GPA: 3.9</h4>
                            <h4>Northern Alberta Institute of Technology</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>2013 - 2014</h4>
                            <h4>Edmonton, AB</h4>
                        </div>
                        <ul>
                            <li>
                                <h5>Communicated with client and team members</h5>
                                <ul>
                                    <li>Met with clients and determined scope of the project</li>
                                    <li>Managed the project and assigned jobs to team members</li>
                                    <li>Presented the project to the clients</li>
                                </ul>
                            </li>
                            <li>
                                <h5>Replaced outdated and cumbersome database</h5>
                                <ul>
                                    <li>Based on client’s requirements, my team used MS SQL Server 2012 to create a new database which included more than 20 tables.</li>
                                    <li>o	In the database, I used store procedure and trigger for my client to manage their data or generate some error messages for wrong input data.</li>
                                </ul>
                            </li>
                            <li>
                                <h5>
                                    Created a user friendly application for client to manage donors, students, instructors, program, courses and staffs information
                                </h5>
                                <ul>
                                    <li>
                                        Used Visual Studio 2013, C# and MVC to create a streamlined and modernized interface
                                    </li>
                                    <li>
                                        Used CSS, HTML5 and JavaScript to create a user friendly and attractive interface
                                    </li>
                                    <li>
                                        Created a new function for client to save or generate different kinds of reports such as Word, Excel or PDFs
                                    </li>
                                    <li>
                                        Created security management for client to assign different level of authorizations to the users
                                    </li>
                                    <li>
                                        Troubleshoot by testing, analyzing, fixing and tracking program errors
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                        <div class="col-md-9">
                            <h4>Bachelor Degree of Electrical Engineering Technology</h4>
                            <h4>Dayeh University</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>1999</h4>
                            <h4>Taiwan</h4>
                        </div>
                    </div>
                    <br />
                </div>
                
                <div>
                    <h3>WORK EXPERIENCE</h3>
                    <div>
                        <div class="col-md-9">
                            <h4>Manufacturing Technician</h4>
                            <h4>KETEK GROUP</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>July 2018 - Present</h4>
                            <h4>EDMONTON  AB</h4>
                        </div>
                        <ul>
                            <li>Improved customer value using 5S and Lean Manufacturing Principles</li>
                            <li>Assembled different kinds of equipment in a welding shop</li>
                        </ul>
                    </div>
                    
                    <div>
                        <div class="col-md-9">
                            <h4>CAD Technician</h4>
                            <h4>Dewar Western Inc.</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>May 2015 – July 2018</h4>
                            <h4>Edmonton  AB</h4>
                        </div>
                        <ul>
                            <li>Use AUTO-CAD and Rhinoceros 3D to make the drawing for sewer to sew the blankets</li>
                            <li>Use PHP and MYSQL to create a web form for employees to manage the project data</li>
                        </ul>
                    </div>
                    
                    <div>
                        <div class="col-md-9">
                            <h4>Waiter</h4>
                            <h4>Golden Szechuan Restaurant</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>May 2014 – Nov 2016</h4>
                            <h4>Edmonton  AB</h4>
                        </div>
                        <ul>
                            <li>Served customers in a fast-paced environment and made them feel comfortable</li>
                            <li>Used effective communication skills with customers and staff</li>
                        </ul>
                    </div>
                    
                    <div>
                        <div class="col-md-9">
                            <h4>Project Manager</h4>
                            <h4>Semiconductor Equipment Manufacture, Applied Materials Inc.</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Oct 2010 – Jun 2012</h4>
                            <h4>Taiwan</h4>
                        </div>
                        <ul>
                            <li>Managed the machine modification projects which matched customer’s deadlines and expectations</li>
                            <li>Communicated with clarity and professionalism with different departments and companies</li>
                        </ul>
                    </div>
                    
                    <div>
                        <div class="col-md-9">
                            <h4>Electrical Engineer</h4>
                            <h4>Semiconductor Equipment Manufacture, Applied Materials Inc.</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Apr 2008 – Oct 2010</h4>
                            <h4>Taiwan</h4>
                        </div>
                        <ul>
                            <li>Assisted customers with new equipment purchases</li>
                            <li>Provided instruction on the theory behind equipment operation</li>
                            <li>Provided troubleshooting for any complications with equipment</li>
                        </ul>
                    </div>
                    
                    <div>
                        <div class="col-md-9">
                            <h4>Electrical Engineer</h4>
                            <h4>LCD/LED TV/Monitor Manufacture, Chi Mei Optoelectronics Corporation</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Mar 2003 – Mar 2008</h4>
                            <h4>Taiwan</h4>
                        </div>
                        <ul>
                            <li>Troubleshoot machines and found solutions to increase efficiency</li>
                            <li>Inserted, updated or deleted the loops in Mitsubishi PLC system</li>
                        </ul>
                    </div>
                    
                    <div>
                        <div class="col-md-9">
                            <h4>Electrical Engineer</h4>
                            <h4>Semiconductor Manufacture, Pynmax Inc.</h4>
                        </div>
                        <div class="col-md-3">
                            <h4>Aug 2001 – Jan 2003</h4>
                            <h4>Taiwan</h4>
                        </div>
                        <ul>
                            <li>Troubleshoot, designed and rebuilt the used semiconductor equipment for Schottky Diode Department</li>
                        </ul>
                    </div>
                </div>
                
                <div>
                    <h3>AWARDS AND BURSARIES</h3>
                    <ul>
                        <li>Dean’s Honour Roll  (2013, 2014)</li>
                        <li>Naresh Sharma Memorial Bursary 1</li>
                        <li>NAITSA General Award </li>
                        <li>Tiger and Hazel Goldstick Bursary </li>
                        <li>Association of Retired NAIT Staff Bursary </li>
                    </ul>
                </div>
                
                <div class="well">
                        <div class="text-right">
                            <a class="btn btn-primary" role="button" data-toggle="collapse" data-target="#collapseComment2" aria-expanded="false" aria-controls="collapseComment2">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Work Experience </a>
                        </div>
                        
                        <!--Collapse Add a comment form START-->
                        <div class="collapse" id="collapseComment2">
                            <div class="well" style="border-left: 5px solid #00C851; height: 300px;">
                            <!--If the user is logged in, show the new comment form-->
                                <h4> Add a New Work Experience <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
                                
                                <form>
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="inputAddress2">Job Title</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Company Name</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                        </div>  
                                        <div class="form-group col-md-6">
                                            <label for="inputEmail4">Working Period ( From )</label>
                                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputPassword4"> ( To ) </label>
                                            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <label for="inputAddress2">Responsibilitiy</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Add</label>
                                            <button class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                
                            </div>
                        </div>
                <!--Collapse Add a comment form END-->
                    </div>
            </div>
        </div>
    </div>
    
    



<% include ./partials/footer %>