

.navbar-default {
  margin-bottom: 0;
}

.gallery {
  overflow:hidden;
  height:300px;
  width:100%;
  display:block;
  margin:0;
  padding:0;
  position:relative;
  background:#000;  
}

.content-container {
  margin: 20px 0;
}

.side-nav {
  margin-left: 30px;
}

.personal-info {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 3px solid black; 
}

.main-content {
  border-left: solid 3px grey;
}

.content-session {
  margin-bottom: 15px;
  margin-top: 40px;
  border-bottom: solid 3px black;
  padding-bottom: 5px;
}

.skill {
  text-align: center;
  height: auto;
}

.skill-column {
  margin: 20px 0;
}

.skill-label {
  margin-top: 15px;
  margin-bottom: 10px;
}

.icon-act {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: blue;
  display: inline-block;
  margin: 2px;
}

.icon-non {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  display: inline-block;
  margin: 2px;
}

.con-con {
  margin: 0;
  width: auto;
  height: auto;
  min-height: 100px;
  overflow: auto;
}

.img {
  width: 100%
}

.imgWrap {
  float:left;
  width:20%;
  height:100%;
  overflow:hidden;
  position: relative;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;  
  
}

.work-session {
  margin-bottom: 25px;
}

.button-style {
  margin-top: 30px;
}

#deleteForm {
    display: inline
}

.current {
  width:36%;
  
  cursor: pointer;
}
.notCurrent {
  width:16%;
  
}